<div class="container-fluid">
  <div class="row p-60-0 p-lg-30-0 p-md-15-0">
    <div class="col-lg-12">
      <div class="art-a art-banner">
        <div class="art-banner-back"></div>
        <div class="art-banner-dec"></div>
        <div class="art-banner-overlay">
          <div class="art-banner-title">
            <h1 class="mb-15">Veja Alguns dos <br />Meus Projetos</h1>
            <div class="art-lg-text art-code mb-25">
              &lt;<i>code</i>&gt; Desenvolvimento de
              <span
                class="txt-rotate"
                data-period="2000"
                data-rotate='[ "Sistemas Corporativos.", "E-commerce.", "Sistema Financeiro.", "Sistema de Automoção." ]'></span
              >&lt;/<i>code</i>&gt;
            </div>
            <div class="art-buttons-frame">
              <a [routerLink]="['/portfolio']" class="art-btn art-btn-md">
                <span>Explore Agora</span>
              </a>
            </div>
          </div>
          <img src="./assets/images/face-2.png" class="art-banner-photo" alt="Your Name" />
        </div>
      </div>
    </div>
  </div>
</div>
