<app-banner></app-banner>

<div class="container-fluid">
  <div class="row p-30-0">
    <div class="col-lg-6">
      <div class="art-section-title">
        <div class="art-title-frame">
          <h4>Formação Acadêmica</h4>
        </div>
      </div>

      <div class="art-timeline art-gallery">
        <div class="art-timeline-item" *ngFor="let educ of diplomas">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>

          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>{{ educ.title }}</h5>
                <div class="art-el-suptitle mb-15">{{ educ.institution }}</div>
              </div>
              <div class="art-right-side">
                <span class="art-date">{{ educ.year }}</span>
              </div>
            </div>

            <p [innerHTML]="educ.description"></p>
            <a data-fancybox="diplome" [href]="educ.href" class="art-link art-color-link art-w-chevron">{{
              educ.title_href
            }}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="art-section-title">
        <div class="art-title-frame">
          <h4>Formação Complementar</h4>
        </div>
      </div>

      <div class="art-timeline art-gallery">
        <div class="art-timeline-item" *ngFor="let certificate of certificates">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>

          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>{{ certificate.title }}</h5>
                <div class="art-el-suptitle mb-15">{{ certificate.institution }}</div>
              </div>
              <div class="art-right-side">
                <span class="art-date">{{ certificate.year }}</span>
              </div>
            </div>

            <p [innerHTML]="certificate.description"></p>
            <a data-fancybox="diplome" [href]="certificate.href" class="art-link art-color-link art-w-chevron">{{
              certificate.title_href
            }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
